.Chat_Overlay {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.Chat_Container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70vh;
    background-color: rgb(31, 31, 37);
    border-radius: 20px;
    align-items: center;
    padding: 5px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 15px
}

.Chat_Container::-webkit-scrollbar {
    width: 5px;
    
}


.Chat_Chat_Container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(31, 31, 37);
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Chat_Chat_EmoticonSide {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 100%;
}

.Chat_Chat_EmoticonSide:hover {
    background-color: rgb(25, 25, 29);
}

.Chat_Chat_TextSide {
    width: 600px;
    height: 40px;
    
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Chat_Chat_TextSide input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(18, 18, 22);
    color: rgb(207, 201, 201);
    padding-left: 10px;
    font-size: 18px;
    border: none;
}

.Chat_Chat_TextSide input:focus {
    outline: none;
}

.Chat_Chat_SubmitSide {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.Chat_Chat_SubmitSide button {
    background-color: rgb(18, 18, 22);
    border: none;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.Chat_Chat_SubmitSide img {
    position: relative;
    left: 3px;
    width: 30px;
}

.Chat_Chat_EmoticonSide {
    position: relative;
    width: 40px;
}

.Chat_Chat_SubmitSide:hover {
    background-color: rgb(25, 25, 29);
    cursor: pointer;
}


.Chat_MessageContainer {
    background-color: #a3b18a;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    min-width: 200px;
}

.chat_MessageOverlay {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}

.chat_MessageOverlay img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.Chat_MessageAuthor {
    display: flex;
    flex-direction: column;
}

.Chat_MessageAuthor p {
    color: #132a13;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    bottom: 5px;
}

.Chat_MessageContent {
    color: #132a13;
    
}

.Chat_Date {
    display: flex;
    justify-content: end;
}

.Chat_Date p {
    color: #394234;
    
}