.none {
    display: none;
}

.Chat_Container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
    grid-template-rows: 1fr 60px;
    transition: all .2s ease;
}


.Chat_Container_Close {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 2fr 0px;
    grid-template-rows: 1fr 60px;
    transition: all .2s ease;

}

.Chat_ChatList {
    background-color: #1d3557;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1fr;
}

.ChatMenuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ChatMenuHeader img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 100%;
}

.ChatMenuHeader img:hover {
    background-color: #13263f;
}

.Chat_ChatSearchbar {
    display: flex;
    align-items: center;
}

.Chat_ChatSearchbar input {
    width: 100%;
    height: 30px;
    color: white;
    background-color: #1d3557;
    border: 1px solid white;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    padding-left: 15px;
}

.Chat_ChatSearchbar input:focus {
    outline: none;
}

.Chat_SearchButton {
    border: 1px solid white;
    height: 31px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    cursor: pointer;
}

.Chat_ChatSearchbar img {
    width: 25px;
    height: 25px;
    position: relative;
    right: 5px;
    top: 2px;
}

.Chat_Conversation {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #ced4da;
}


.Chat_Conversation::-webkit-scrollbar {
    width: 8px;
}

.Chat_Conversation::-webkit-scrollbar-thumb {
    background-color: #13263f;
    border-radius: 5px;
    
}
  
.Chat_UserList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    background-color: #1d3557;
    grid-column: 3/4;
    grid-row: 1/3
}

.Chat_MessageContainer {
    background-color: #c6cdd4;
    border-top: 1px solid #a2a4a7;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Chat_MessageContainer input {
    width: 100%;
    margin-right: 10px;
    height: 30px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 20px;
    border: none;
}

.Chat_MessageContainer input:focus {
    outline: none;
}

.Chat_SendButton {
    width: 35px;
    height: 35px;
    background-color: #13263f;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    transition: transform .2s ease;
}

.Chat_SendButton img {
    width: 25px;
    position: relative;
    left: -2px;
    bottom: -2px;
}

.Chat_SendButton:hover{
    transform: scale(1.1);
}

.Chat_MSG_A_overlay {
    display: flex;
    justify-content: flex-start;
}

.Chat_MSG_B_overlay {
    display: flex;
    justify-content: flex-end;
}

.Chat_MSG_A_Container {
    background-color: #219ebc;
    min-width: 250px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.Chat_MSG_B_Container {
    background-color: #1d3557;
    min-width: 250px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.Chat_MSG_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.Chat_MSG_header img {
    width: 20px;
    cursor: pointer;
}

.Chat_MSG_header p {
    font-weight: bold;
}

.Chat_MSG_Date {
    display: flex;
    justify-content: flex-end;
}

.Chat_MSG_Date p {
    font-size: 11px;
}

.Chat_UsersContainer {
    display: flex;
    align-items: center;
    margin: 10px 5px;
    cursor: pointer;
}

.Chat_UsersDiv {
    width: 100%;
}

.Chat_UsersContainer img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.Chat_UsersContainer p {
    margin-left: 10px;
}

.none {
    display: none;
}

.Chat_Profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #13263f;
    border-top: 1px solid #0f1c2e;
    grid-column: 1/1;
    grid-row: 2/3;
}

.Chat_Profile img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.Chat_Profile p {
    margin-left: 10px;
}

.AllChats {
    display: flex;
    flex-direction: column;
}

.OneChat {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.OneActiveChat {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    align-items: center;
    border-radius: 5px;
    background-color: #13263f;
    position: relative;
}

.chatPicture {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 5px;
}

.OneChat:hover {
    background-color: #13263f;
}

.OneChat:hover .closeChat {
    display: block;
}

.OneActiveChat:hover .closeChat {
    display: block;
}

.chatPicture {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 5px;
}

.closeChat {
    display: none;
    position: absolute;
    right: 0;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #13263f;
}